<div class="jumbotron">
  <h1>BattleShip: batalla de barcos</h1>
 <!-- <div ng-controller="tableController" align="center">
        <canvas id="tablero" width="330" height="330">Tablero</canvas>
        <p></p>
        <button ng-click="dibujarTablero(0,0)">Dibujar Tablero</button>
        <button ng-click="lanzarBomba(3,7)">Lanzar Bomba</button>
      <p>Estamos {{hola}}, esperamos su comprension </p>



  </div> -->
    <div class="row">
        <div class="col-xs-4">
            <canvas id="tablero" width="330" height="330" tamanio="30" board>Tablero</canvas>
            <form role="form">
                <fieldset>
                              <legend>Bombardearo</legend>
                <div class="form-group">

                    <label for="ejemplo_email_1">Posicion X:</label>
                    <input type="number" id="replyNumber" data-bind="value:replyNumber" min="1" max="10"/>
                    <label for="ejemplo_email_1">Posicion Y:</label>
                    <input type="number" id="replyNumber" data-bind="value:replyNumber" min="1" max="10"/>
                </div>
                <p><a class="btn btn-lg btn-success" ng-href="#">Enviar!<span class="glyphicon glyphicon-ok"></span></a></p>
                </fieldset>
            </form>
        </div>




        <div class="col-xs-4 col-xs-offset-4">
            <form role="form">
                <fieldset>
                              <legend>Datos de un Barco</legend>
                <div class="form-group">
                <div>
                    <select id="Barco">
                        <option>Destructor</option>
                        <option>Submarino</option>
                        <option>Cruzero</option>
                        <option>Battshipt</option>
                        <option>Portaviones</option>
                </select>
                </div>
                    <label for="ejemplo_email_1">Posicion X:</label>
                    <input type="number" id="replyNumber" data-bind="value:replyNumber" min="1" max="10"/>
                    <label for="ejemplo_email_1">Posicion Y:</label>
                    <input type="number" id="replyNumber" data-bind="value:replyNumber" min="1" max="10"/>
                </div>
                <div>
                    <input type="radio" name="orientacion" value="Horizontal" />Horizontal<br />
                    <input type="radio" name="orientacion" value="Vertical" />Vertical<br />
                </div>
                <p><a class="btn btn-lg btn-success" ng-href="#">Enviar!<span class="glyphicon glyphicon-ok"></span></a></p>
                </fieldset>
            </form>
        </div>
    </div>

</div>
